<ion-header>
  <ion-toolbar>
   <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back-outline" color="black"></ion-icon>
      </ion-button>
    </ion-buttons> 
    <ion-title > Editar SubCategoria </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding  background" >
  <ion-item color="dark">
    <ion-label>Nombre: </ion-label>
    <ion-input [(ngModel)]="nombre" type="text" placeholder="Nombre" required></ion-input>
  </ion-item>
  <ion-button (click)="editar()" color="success" expand="block" >
    Editar
  </ion-button>
  <ion-button expand="block" color="danger" (click)="dismiss()" routerLinkActive="router-link-active" >
    Cancelar
  </ion-button>

</ion-content>
