<ion-header>
  <ion-toolbar>
   <!--  <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="arrow-back-outline" color="black"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-title > SABOR LATINO </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding background" >
  <!-- Categorias -->
  <div class="contenedor animate__animated animate__fadeInUp" *ngIf="!contacto">
    <app-spinner *ngIf="categorias.length==0"></app-spinner>
    <ion-item detail *ngFor="let categoria of categorias" class="animate__animated animate__fadeInUp" [routerLink]="['carta',categoria.id]">
      <ion-avatar slot="start">
        <img [src]="categoria.imagen | imagen">
      </ion-avatar>
      <ion-label>
        <h1>{{ categoria.nombre}}</h1>
        <h3>{{ categoria.descripcion}}</h3>
      </ion-label>
    </ion-item>
</div>
<!-- Contacto -->
<div class="contenedor2 animate__animated animate__backInUp" *ngIf="contacto">
 
  <ion-item class="cont">
    <ion-label ><h1>
      Sabor Latino - Cevicheria
    </h1></ion-label>
  </ion-item>
  <ion-item class="cont"> 
    <ion-label>
      <h2>Hora de ateción</h2>
      <h3> 12H00 a 23H00</h3>
     
    </ion-label>
  </ion-item>
  <ion-item class="cont"> 
    <ion-label>
      <h2>Reservaciones</h2>
      <h3><ion-icon name="call"></ion-icon> 027 67 69 15 - 0477 72 07 76</h3>
     
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Ubicación</ion-label>
  </ion-item>

  <div class="mapa " >
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2520.031919375326!2d4.343829951261322!3d50.83057267942912!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3c466509e6de3%3A0xbd36a731bb9bf53a!2sParv.%20de%20Saint-Gilles%2051%2C%201060%20Saint-Gilles%2C%20B%C3%A9lgica!5e0!3m2!1ses!2sec!4v1635121691804!5m2!1ses!2sec" width="100%" height="100%" style="border:0; margin-bottom: 10px;" allowfullscreen="" loading="lazy"></iframe>
  </div>
  <ion-item>
    <ion-label><ion-icon name="pin"></ion-icon> Parvis de Saint-Gilles 51, 1060</ion-label>
  </ion-item>
  <ion-item class="cont"> 
    <ion-label>
      <h2>Desarrollador Web</h2>
      <h3><ion-icon name="mail"></ion-icon> avillegas7510@gmail.com</h3>
     
    </ion-label>
  </ion-item>
</div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    
    <ion-segment value="categoria" mode="ios" (ionChange)="CambioTipo($event)"> 
      <ion-segment-button  value="categoria" >Menú</ion-segment-button>
      <ion-segment-button value="contacto">Contacto</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>