<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink='../categorias'>
        <ion-icon name="arrow-back-outline" color="black"></ion-icon>
      </ion-button>
    </ion-buttons> 
    
    <ion-title color="light">Agregar Categoria</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding  background" >
<ion-item color="dark">
  <ion-label>Nombre: </ion-label>
  <ion-input [(ngModel)]="Categoria.nombre" type="text" placeholder="Nombre" required></ion-input>
</ion-item>
<ion-item color="dark">
  <ion-label>Descripción: </ion-label>
  <ion-input [(ngModel)]="Categoria.descripcion" type="text" placeholder="Nombre" required></ion-input>
</ion-item>
<ion-item color="dark">

<input style="left: 0px;" type="file" name="inputFile" (change)="chooseFile($event)" require>
</ion-item>
<ion-button (click)="agregar()" color="success" expand="block" >
  Agregar
</ion-button>
<ion-button expand="block" color="danger" [routerLink]="['../categorias']" routerLinkActive="router-link-active" >
  Cancelar
</ion-button>
</ion-content>