<ion-header>
  <ion-toolbar>
   <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back-outline" color="black"></ion-icon>
      </ion-button>
    </ion-buttons> 
    <ion-title > Agregar Plato </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background"> 

  <ion-item color="dark">
    <ion-label>Nombre: </ion-label>
    <ion-input [(ngModel)]="plato.nombre" type="text" placeholder="Nombre"></ion-input>
  </ion-item>
  <ion-item color="dark">
    <ion-label>Descripción: </ion-label>
    <ion-input [(ngModel)]="plato.descripcion1" type="text" placeholder="Descripción"></ion-input>
  </ion-item>
  <ion-item color="dark">
    <ion-label>Descripción 2: </ion-label>
    <ion-input [(ngModel)]="plato.descripcion2" type="text" placeholder="Descripción"></ion-input>
  </ion-item>
  <ion-item color="dark">
    
    <input style="left: 0px;" type="file" name="inputFile" (change)="chooseFile($event)" required>
  </ion-item>
  <ion-item color="dark">
    <ion-label>Precio: </ion-label>
    <ion-input [(ngModel)]="plato.precio" type="number" placeholder=""></ion-input>
  </ion-item>
  <ion-list>
    <ion-list-header >
      <ion-label style="font-size: 20px; color: white;font-weight: bold;">Alergenos</ion-label>
    </ion-list-header>
 
    <ion-item *ngFor="let alergeno of alergenos" >
      <ion-label>{{alergeno.nombre}}</ion-label>    
      <ion-toggle [(ngModel)]="alergeno.valor" color="success"></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-button (click)="agregar()" color="success" expand="block" >
    Agregar
  </ion-button>
  <ion-button expand="block" color="danger" (click)="dismiss()" >
    Cancelar
  </ion-button>
</ion-content>
