
<app-spinner *ngIf="platos.length ==0"></app-spinner>
<div *ngIf="platos.length >0">
<ion-item detail  *ngFor="let plato of platos" (click)="presentModal(plato)">
  <ion-avatar slot="start">
    <img [src]="plato.imagen | imagen">
  </ion-avatar>
  <ion-label>
    <h2>{{plato.nombre}}</h2>
   
    <img class="avatar" *ngIf="plato.alergenos[0].valor==true" src="assets/alergenos/Moluscos.png">
    <img class="avatar" *ngIf="plato.alergenos[1].valor==true" src="assets/alergenos/GranosDeSensamo.png">
    <img class="avatar" *ngIf="plato.alergenos[2].valor==true" src="assets/alergenos/FrutosDeCascara.png">
    <img class="avatar" *ngIf="plato.alergenos[3].valor==true" src="assets/alergenos/apio.png">
    <img class="avatar" *ngIf="plato.alergenos[4].valor==true" src="assets/alergenos/Mostaza.png">
    <img class="avatar" *ngIf="plato.alergenos[5].valor==true" src="assets/alergenos/Pescado.png">
    <img class="avatar" *ngIf="plato.alergenos[6].valor==true" src="assets/alergenos/Lacteos.png">
    <img class="avatar" *ngIf="plato.alergenos[7].valor==true" src="assets/alergenos/Cacahuete.png">
    <img class="avatar" *ngIf="plato.alergenos[8].valor==true" src="assets/alergenos/soja.png">
    <img class="avatar" *ngIf="plato.alergenos[9].valor==true" src="assets/alergenos/huevos.png">
    <img class="avatar" *ngIf="plato.alergenos[10].valor==true" src="assets/alergenos/Crustaceos.png">
    <img class="avatar" *ngIf="plato.alergenos[11].valor==true" src="assets/alergenos/Gluten.png">
  
  </ion-label>
  <h2>${{plato.precio}}</h2>
 
</ion-item>
</div>
